.league-container {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.league_box {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.league_box_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.league_item {
    background: #378805;
    width: 90%;
    border: 0.1px solid #fff;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.25));
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.league_item:last-child {
    margin-bottom: 200px;
}

.league_item:first-child {
    margin-top: 20px;
}

.league_item h1 {
    font-size: 20px;
}

.back_liga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.back_liga h1 {
    margin-right: 10px;
}

.league_item_left img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.league_item_left {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.standings_container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.standings_container .rating_tabs{
    margin-top: 4%;
}
.standings {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding:0 10px;
}
.table_standing {
    width: 100%;
    margin-bottom: 300px;
    padding: 0 10px;
    border-collapse: collapse;
    border: #378805 solid 1px;
    position: relative;
}
.table_standing thead{
    position: sticky;
    top: -2px;
    background: #378805;
}
.table_standing thead th , .table_standing thead th tr{
    border-collapse: collapse;
    border: #fff solid 1px;
    padding: 5px;
}
.table_standing tbody {
    width: 100%;

}

.table_standing tbody tr td{
    border-collapse: collapse;
    border: #fff solid 1px;
    padding: 2px;

}

.table_standing tbody tr td:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.table_standing tbody tr td:nth-child(2) img{
    margin-right: 5px;
}


.league_data_calendar{
    overflow-y: auto;
    height: 100%;
}
.fixtures_calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}
.league_collapseChildren_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.league_collapseChildren_box img{
    width: 50px;
    height: 50px;
}
.league_collapseChildren_item{
    width: 48%;
}
.league_collapseChildren_item:nth-child(2){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 35px;
}
.info_calendar{
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-61%);
}

.league_collapseChildren_item_logo h1{
    font-size: 20px;
}