.peredacha {
    padding: 10px 10px 0 10px;
    margin-bottom: 20%;
}

.peredacha_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.peredacha_time_box {
    text-align: center;
}

.peredacha_time h1, .peredacha_time p {
    margin: 0;
    padding: 0;
}

.peredacha_list {
    width: 100%;

}

.peredacha_list_items {
    overflow-y: auto; /* scroll qilish imkoniyatini beradi */
    height: calc(100vh - 200px); /* Ekran balandligiga qarab o'lchov */
    padding-right: 10px; /* Scroll uchun joy */
    padding-bottom: 50px; /* Oxirgi element pastda qolib ketmasligi uchun joy ajratish */
}



.table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-row p {
    text-align: center;
}


.team1, .team2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team1 img, .team2 img {
    width: 20%;
    height: 100%;
    float: right;
}

.team1 h1, .team2 h1 {
    width: 70%;
    font-size: 12px;
}

.team1 h1 {
    text-align: left;
    margin-right: 10px;
}

.team2 h1 {
    margin-left: 10px;

    text-align: right;
}


.peredacha_tabs {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(250, 250, 250, 0.20);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.18);
    border-radius: 15px;
}

.peredacha__tab_item.active {
    background: white;
    color: #191919;
}

.peredacha__tab_item {
    background: transparent;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 15px;
}